body{
    font-family: monospace;
    background-size: 100%;
    
}

#alert{
    background-color: rgba(161, 161, 161, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    z-index: 1;
    top:0;
    left: 0;
    padding: 1em;

}

#alert-header{
    background: linear-gradient(to right, rgba(0, 89, 255, 0.479) , rgba(82, 181, 219, 0.219));
    padding: 0.5em;
    color:white;
    display: flex;
    justify-content: space-between;
    
}
#alert-footer{
    background: linear-gradient(to left, rgba(0, 89, 255, 0.479) , rgba(82, 181, 219, 0.219));
    padding: 0.5em;
    color:white;
    display: none;
    
}
#alert-body{
    background: rgba(255, 254, 254);
    padding: 5em;
    
}

#content{
    display: inline-block;
    box-shadow: 0px 0px 10px gray;
    border-radius: 1em;
    text-align: center;
    margin: 15%;
    width: 60%;
    animation-name: adjust;

}

#alert-close{
    border: none;
    padding: 1em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.644);
    border-radius: 0.5em;
    background:linear-gradient(rgba(81, 81, 218, 0.425), rgba(0, 183, 255, 0.63)) ;
    color: white;
}

#alert-close:hover{
    background: linear-gradient(rgba(0, 183, 255, 0.185),rgba(0, 0, 255, 0.247));
    box-shadow: 0px 0px 10px black;
}
#alert-close:active{
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.575);
}
